In [1]:
a = 1; print(type(a))

<class 'int'>

In [2]:
# a라는 변수에 1를 넣었다는 것.
# type는 정수인지(int, float) 여부 등, type 없이 그냥 a만 넣으면 a의 값이 무엇인지 알려줌.

In [ ]:
a = 1.1; print(type(a))

<class 'float'>

In [3]:
a = '123'; print(type(a)); print(a[1])

<class 'str'>
2

In [ ]:
# quote 표시(더블도 가능) 해서 string 입력하기.
# 변수 중에 number와 string 말고도 list 있음. (여러 개 담는 거 가능)  ex.) [숫자, 문자 다 가능]

In [ ]:
a = 'hello'; print(type(a)); print(a[1])

<class 'str'>
e

In [ ]:
a = [1, 2, 3, 4]; print(type(a)); print(a[0])

<class 'list'>
1

In [ ]:
# list indexing (중요)
# a[0] -> a의 0번째 (일반적 첫 번째가 0번째에 해당함, a의 0번째를 가져오라는 뜻)
# print라는 말을 제일 마지막 줄에는 생략할 수 있음. [1,3] -> 1부터 3까지라는 뜻.

In [ ]:
a = [1,'a', [3, '4']]; print(type(a)); print(a[0]); print(a[1]); print(a[2]); print(a[2][1])

<class 'list'>
1
a
[3, '4']
4

In [ ]:
# a [2:] -> 2에서부터 끝까지.
# a [2: -1] 결국 0에서부터 -1로 돌아왔을 때의 위치.

In [ ]:
a =	{"a": "apple", "b": "orange", "c": 2014}
print(type(a))
print(a["a"])

<class 'dict'>
apple